.secondary-header {
  max-width: calc(1280px-(70px*2));
  min-height: 40px;
  margin: 110px 70px 0 70px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #000;
}

.secondary-header__title {
  margin: 0 0 23px 0;
  padding: 0;
  color: #000;
  font-family: inherit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}