.navigation {
  display: flex;
  align-items: center;
}

.navigation__unauthorized {
  width: 183px;
  margin: 0;
  padding: 21px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  @media screen and (max-width: 767px) {
    .navigation__unauthorized {
      width: 132px;
      padding-top: 24px;
    }
  }

.navigation__list {
  width: fit-content;
  margin: 0;
  padding: 21px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigation__film {
  width: 230px;
  padding: 0 50px 0 0;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  margin: 0;
  padding: 0;
  color: #000;
  text-align: right;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: opacity .4s;
}
  .navigation__link:hover {
    opacity: 0.7;
    cursor: pointer;
  }

.navigation__link_signup {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
  @media screen and (max-width: 767px) {
    .navigation__link_signup {
      font-size: 10px;
    }
  }

.navigation__link_signin {
  width: 76px;
  height: 32px;
  padding: 8px;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
  @media screen and (max-width: 767px) {
    .navigation__link_signin {
      width: 54px;
      padding: 5px 12px;
      height: 26px;
      font-size: 10px;
    }
  }

.navigation__link_account {
  display: flex;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}

.navigation__logo-account {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 0 0 13px;
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
  background-image: url(../../images/account-logo-pink.svg);
  background-color: #000;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__logo-account_white {
  background-image: url(../../images/account-logo-black.svg);
  background-color: #F9F9F9;
}
