.navigation__container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
  @media screen and (max-width: 1023px) {
    .navigation__container {
      max-width: calc(320px + (1280 - 320) * ((100vw - 320px) / (1280 - 320)));
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
      position: absolute;
      top: 0px;
      right: 0;
      justify-content: right;
      z-index: 3;
    }
  }

@media screen and (max-width: 1023px) {
  .navigation__unauthorized {
    width: 100%;
    height: 100%;
    background: inherit;
    position: relative;
    justify-content: right;
    z-index: 1;
  }
}

.navigation__list_unauthorized {
  width: 183px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  @media screen and (max-width: 767px) {
    .navigation__list_unauthorized {
      width: 132px;
    }
  }

.navigation__list {
  width: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  align-items: center;
  list-style: none;
}
  @media screen and (max-width: 1023px) {
    .navigation__list {
      width: 68%;
      height: calc(100% - 159px);
      padding-top: 159px;
      background-color: #FFF;
      flex-direction: column;
      z-index: 4;
    }
  }
  @media screen and (max-width: 767px) {
    .navigation__list {
      width: 100%;
      height: calc(100% - 144px);
      padding-top: 144px;
    }
  }

.navigation__element {
  margin: 0 0 0 20px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
  .navigation__element:last-of-type {
    margin-left: 50px;
  }
  @media screen and (max-width: 1023px) {
    .navigation__element {
      margin-top: 28px;
      margin-left: 0;
    }
    .navigation__element:first-of-type {
      margin-top: 0;
    }
    .navigation__element:last-of-type {
      position: absolute;
      bottom: 92px;
    }
  }

.navigation__link {
  margin: 0;
  padding: 0;
  color: #000;
  text-align: right;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  transition: opacity .4s;
}
  .navigation__link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  @media screen and (max-width: 1023px) {
    .navigation__link {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
    }
  }

.navigation__link_active {
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}

.navigation__link_signup {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
  @media screen and (max-width: 767px) {
    .navigation__link_signup {
      font-size: 10px;
    }
  }

.navigation__link_signin {
  width: 76px;
  height: 32px;
  padding: 8px;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
  @media screen and (max-width: 767px) {
    .navigation__link_signin {
      width: 54px;
      padding: 5px 12px;
      height: 26px;
      font-size: 10px;
    }
  }

.navigation__link_account {
  display: flex;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}
  @media screen and (max-width: 1023px) {
    .navigation__link_account {
      font-size: 14px;
    }
  }

.navigation__logo-account {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0 0 0 13px;
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
  background-image: url(../../images/account-logo-pink.svg);
  background-color: #000;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__logo-account_white {
  background-image: url(../../images/account-logo-black.svg);
  background-color: #F9F9F9;
}

.navigation__menu-button {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border: none;
  transition: opacity .4s;
}
  .navigation__menu-button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  @media screen and (min-width: 1024px) {
    .navigation__menu-button {
      display: none;
    }
  }

.navigation__menu-button_close {
  width: 22px;
  height: 22px;
  position: relative;
  background-image: url(../../images/close-icon.svg);
  background-color: #FFF;
  z-index: 4;
}

.navigation__menu-button_open {
  width: 44px;
  height: 44px;
  background-image: url(../../images/menu-icon.svg);
}
  @media screen and (max-width: 767px) {
    .navigation__menu-button_open {
      width: 40px;
      height: 43px;
      background-size: 33px 40px;
    }
  }
