.main_register {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  @media screen and (max-width: 1023px) {
    .main_register {
      padding: 232px 0;
    }
  }
  @media screen and (max-width: 767px) {
    .main_register {
      padding: 56px 0 30px 0;
    }
  }

.register {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
  @media screen and (max-width: 767px) {
    .register {
      max-width: 260px;
      align-items: center;
    }
  }

.auth__link-logo {
  max-width: 38px;
  max-height: 38px;
  padding: 0;
  margin: 0;
  transition: opacity .4s;
}

.auth__link-logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.auth__logo {
  max-width: 38px;
  max-height: 38px;
  transition: opacity .4s;
}

.auth__logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.register__title {
  margin: 40px 0;
  padding: 0;
  color: #000;
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  @media screen and (max-width: 767px) {
    .register__title {
      margin: 50px 0 80px 0;
    }
  }

.auth__link {
  padding: 0;
  margin: 0;
  align-self: center;
  color: #A0A0A0;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity .4s;
}
  .auth__link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    .auth__link {
      margin: 0;
      font-size: 12px;
    }
  }

.auth__link-black {
  margin-left: 6px;
  color: #000;
}
  @media screen and (max-width: 767px) {
    .register__link-black {
      margin-left: 7px;
    }
  }