.footer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 79px 70px 20px;
  box-sizing: border-box;
}
  @media screen and (max-width: 1023px) {
    .footer {
      max-width: 768px;
      width: 100%;
      padding: 79px 30px 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .footer {
      max-width: 320px;
      width: 100%;
      padding: 79px 10px 20px;
    }
  }

.footer__text {
  margin: 0;
  padding-bottom: 20px;
  align-self: center;
  color: #A0A0A0;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #E8E8E8;
}
  @media screen and (max-width: 767px) {
    .footer__text {
      font-size: 12px;
      padding-bottom: 21px;
    }
  }

.footer__container {
  width: 100%;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}
  @media screen and (max-width: 767px) {
    .footer__container {
      padding: 0;
      flex-direction: column-reverse;
    }
  }

.footer__copyright {
  width: fit-content;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
  @media screen and (max-width: 767px) {
    .footer__copyright {
      align-self: center;
      color: #A0A0A0;
      font-size: 12px;
    }
  }

.footer__links {
  width: fit-content;
}
  @media screen and (max-width: 767px) {
    .footer__links {
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

.footer__link {
  margin: 0;
  padding: 0 20px 0 0;
  color: #000;
  text-align: right;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.footer__link:last-of-type {
  padding-right: 0;
}
  @media screen and (max-width: 767px) {
    .footer__link {
      padding-right: 0;
      padding-bottom: 12px;
      font-size: 12px;
    }
    .footer__link:last-of-type {
      padding-bottom: 0;
    }
  }